############################
# 系统 & 编辑器垃圾
############################
.DS_Store
.vscode
.idea

############################
# Node.js
############################
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

############################
# 环境变量（⚠️ 极其重要：防止私钥泄露）
############################
.env
.env.local
.env.*.local

############################
# Next.js
############################
.next
out
.vercel

############################
# TypeScript
############################
*.tsbuildinfo

############################
# Hardhat / Solidity
############################
artifacts
cache
coverage
coverage.json
typechain
types

############################
# Build 输出
############################
dist
bundle

############################
# 测试缓存
############################
.nyc_output

############################
# 其他临时文件
############################
*.log
*.tmp
*.swp
*.swo
